html{
    background-color: #0a497b;
}
body{
    background-color: #81d8d0;
    vertical-align: middle;
    text-align: center;
	display: table;
	margin: 1.2rem auto;
	width: 1000px;
    border-radius: 12px;
    border: 15px solid blue;
}
h1{
    font-family: "Calisto MT";
    color: #0a497b;
    background-color: #d1ebf7;
    font-size: 30px;
}
#letra{
    font-family: "Arial";
    color: #0a497b;
    font-weight: bolder;
    font-size: 18px;
}
#blanco{
    background-color: white;
    font-family: "Calibri";
}
#cancelar{
    background-color: red;
}
#cambiar{
    color: #f67200;
    font-weight: bold;
}

form{
    border: 10px solid blue;
    border-radius: 12px;
    background-color: #c8cbca;
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
span{
    font-family: "Calisto MT";
    color: #0a497b;
    background-color: #d1ebf7;
    font-size: 25px;
    border-radius: 12px;
    font-weight: bold;
    font-style: italic;
}
section{
    border: 10px solid red;
    text-align: left;
    background-color: white;
    border-radius: 12px;
    width: 25%;
    margin: 1rem auto;
}
.recuadro{
    margin: 1rem auto;
    display: table;
    width: 78%;
}
#icon{
    height: 50px;
    width: 50px;
}